{{define "title"}}Plants{{end}}
{{define "content"}}
<h1 class="text-2xl">Plants List</h1>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-stone-400">
        <thead class="text-xs text-stone-700 uppercase bg-gray-50 dark:bg-stone-700 dark:text-stone-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Id
            </th>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Family
            </th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
        <tr class="bg-white border-b dark:bg-stone-800 dark:border-stone-700">
            <th scope="row" class="px-6 py-4 font-medium text-stone-900 whitespace-nowrap dark:text-white">
                <a href="/plants/{{.ID}}">
                    {{.Common}}
                </a>
            </th>
            <td class="px-6 py-4">
                {{.Family}}
            </td>
            <td class="px-6 py-4">
                {{.ID}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}