<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <h1 class="text-3xl font-bold underline">
    Hello from Fly
  </h1>
  {{ if .Region }}
    <h2>I'm running in the {{.Region}} region</h2>
  {{end}}
</body>
</html>
