package templates

templ GuestIndex() {
	<div>
  <div id="log"></div>
  <form id="form">
    <input type="text" id="msg" size="64" autofocus class="text-black" />
    <input type="submit" value="Send" />
  </form>

	</div>
}
