<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{block "title" .}}PlantPal{{end}}</title>
</head>
<body class="p-8 bg-stone-900 dark:text-white dark grid justify-center">
{{block "content" .}}PlantPal{{end}}
</body>
</html>